/*DEBUG*/
.debug{
    height: 300px;
    color: green;
    background-color: red;
}

/*COMMON*/
.section{
 padding: 30px 0 0 0;
}

h2{
    text-transform: uppercase;
}

/*star*/
.star{
    font-size: 100px;
    border-top: 1px solid black;
    width: 100%;
    height: 50px;
    margin-top: 25px;
    top: 50%;
    z-index: 1;
}

span{
    background: #fff;
    padding: 0 20px;
    margin-top: -25;
    display: inline-block;
    z-index: 2;
}

/*BACKGROUND COLOR*/
.blu_scuro{
    background-color: #2c3e50;
    color: white;
}

.verde_acqua{
    background-color: #1abc9c;
    color: white;
}

.grigio_blu{
    background-color: #3a546d;
    color: white;
}

/*HEADER*/
/*NAV*/
nav{
    text-transform: uppercase;
    
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0 1%;

}

nav li a {
    color: white;
}

.right{
    text-align: right;
    padding-top: 20px;
}
.burger_menu{
    font-size: 20px;
}
/*FINE NAV*/

/*JUMBOTRON*/
.jumbotron{
    text-align: center;
    text-transform: uppercase;
}

.box_avatar{
    margin: auto;
    max-width: 200px;
}
/*FINE JUMBOTRON*/
/*FINE HEADER*/

/*MAIN*/
/*PORTFOLIO*/
#portfolio{
    text-align: center;  
}
/*FINE PORTFOLIO*/

/*ABOUT*/
#about{
    text-align: center;
}

.small_container{
    width: 70%;
    margin: auto;
    max-width: 800px;
}

.about_text,
.about_text{
    text-align: left;
    margin-bottom: 20px;
}

/*FINE ABOUT*/

/*CONTACT*/
#contact{
    text-align: center;
}

.border{
    border-bottom: 1px solid #cecece;
    text-align: left;
    padding: 1% 0;
    margin: 0 20%;
}

.border_message{
    border-bottom: 1px solid #cecece;
    text-align: left;
    padding: 1% 0 180px 0;
    margin: 0 20%;
}
/*FINE CONTACT*/
/*FINE MAIN*/

/*FOOTER*/
footer{
    text-align: center;
}

.padding_footer{
    padding: 30px 0 40px 0;
}

footer .copyright{
    padding: 2% 0 3% 0;
}
/*FINE FOOTER*/
